src/force-app/main/default/flows/Lead_Scoring_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Random_Lead_Score</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!$Record.LeadId__c}, 2)) * 10</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lead Scoring Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_LeadScoredEvent</name>
        <label>Publish LeadScoredEvent</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>$Record.LeadId__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadScoredEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Simulate_Lead_Scoring_Update_Lead_Score</name>
        <label>Simulate Lead Scoring - Update Lead Score</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Publish_LeadScoredEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Score__c</field>
            <value>
                <elementReference>Random_Lead_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scoring_Status__c</field>
            <value>
                <stringValue>Scored</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Simulate_Lead_Scoring_Update_Lead_Score</targetReference>
        </connector>
        <object>LeadEnrichedEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
