src/force-app/main/default/flows/Lead_Data_Enrichment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Lead Data Enrichment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Data Enrichment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_LeadEnrichedEvent</name>
        <label>Publish LeadEnrichedEvent</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>$Record.LeadId__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadEnrichedEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Simulate_Data_Enrichment_Update_Lead_Status</name>
        <label>Simulate Data Enrichment - Update Lead Status</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Publish_LeadEnrichedEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enrichment_Status__c</field>
            <value>
                <stringValue>Enriched</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Simulate_Data_Enrichment_Update_Lead_Status</targetReference>
        </connector>
        <object>LeadCreatedEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
